// ==============================
// base
// ==============================

html{
    font-size: 18px;
    line-height: 1.8;
    min-height:100%;
    position: relative;
}
body {
    background: #f6f6f6;
    margin: 0 auto;
}

h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.5em;
}
a {
    text-decoration-color: #36414d;
    color: #36414d;
}

.container {
    margin: 0 auto;
    overflow: hidden;
}

#main {
    position: relative;
    top: 0px;
    .container {
        margin-top: 81px;
    }
}

#main::after {
    height: 104px;
    content: "";
    display: block;
    visibility: hidden; 
}

button {
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}
