// ==============================
// base
// ==============================

html{
    font-size: 1.125em;
}
body {
    background: #f6f6f6;
    margin: 0 auto;
}

h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.5em;
}
a {
    text-decoration-color: #36414d;
    color: #36414d;
}

.container {
    margin: 0 auto;
    overflow: hidden;
}

#main .container {
    margin-top: 91px;
}

button {
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}
