// ==============================
// sidebar
// ==============================

#sidebar {
    margin-top: 10px;
}

.module {
    background: #fff;
    padding: 0;
    margin-bottom: 10px;
}

.module-header {
    margin: 0;
    padding: 5px;
    border-left: 5px solid #36414d;
    font-size: 15px;
    background: #a3b8cc;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-shadow: #36414d 0 2px 3px;
}

.module-content {
    padding: 10px 10px 10px 10px;
    background: #fff;
    .tags{
        display: inline-block;
    }
}

#search-input{
    width:87px;
}

.social a {
    text-decoration: none;
}