<!DOCTYPE html>
<html lang="en">
    <title>
        {{- block "title" . -}}
          {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
        {{- end -}}
      </title>
    {{- partial "head.html" . -}}
<body>
    {{- partial "header.html" . -}}
    <div id="main-content">
        <div class="container">
            {{- block "main" . }}{{- end }}
            {{- partial "sidebar.html" . -}}
        </div>
    </div>
    {{- partial "footer.html" . -}}
    <script type="text/javascript" src="{{ "js/cupcake.js" | relURL }}"></script>
</body>
</html>
