<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" }}
</head>
<body>
    {{ partial "header.html" }}
    <div id="main">
        <div class="container">
            <section id="post">
                <div class="post-panel">
                    <h3 class="post-title">{{ .Title }}</h3>
                    <div class="post-content">
                        {{ .Content }}
                    </div>    
                </div>
            </section>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
    {{ partial "footer.html" }}
</body>
</html>