<section id="sidebar">
    <div class="social module">
      <h2 class="module-header">联系我</h2>
      <div class="module-content">
        {{- range $name, $path := .Site.Params.social }}
          {{if $path}}
            {{- $realName := slicestr $name 2 }}
            {{- $filePath := (print "svg/" $realName ".svg") }}
              <a href="{{ $path | safeURL }}" rel="me noopener" title="{{ $realName }}" {{ if not (hasPrefix $path "mailto:") }} target="_blank"{{ end }}>
                {{ partial $filePath }}
              </a>
          {{- end }}
        {{- end }}  

        {{/* RSS icon  */}}
        {{ with .Site.GetPage "home" -}}
          {{- with .OutputFormats.Get "RSS" -}}
            <a href="{{ .Permalink }}" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}" target="_blank">
              {{ partial "svg/rss.svg" }}
            </a>
          {{ end -}}
        {{- end -}}
      </div>
    </div>
    <div class="search module">
      <h2 class="module-header">搜索</h2>
      <div class="module-content">
          <input id="search-input" type="text" />
          <button onclick="search()">站内搜索</button>
      </div>
    </div>
    <div class="categories module">
      <h2 class="module-header">分类</h2>
      <div class="module-content">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <span class="categories"><a onclick="cat(this)"href="javascript:void(0);">{{ $name }}</a></span>
        {{ end }}
      </div>
    </div>
    <div class="tags module">
      <h2 class="module-header">标签</h2>
      <div class="module-content">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <span class="tags"><a onclick="tags(this)"href="javascript:void(0);">{{ $name }}</a></span>
        {{ end }}
      </div>
    </div>
  </section>