{{ define "main"}}

{{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "IsPage" true) }}
{{ range $paginator.Pages }}
<section id="post-content">
    <div class="post-panel">
      <h3 class="post-title">
        <a href="{{ .RelPermalink }}" target="_blank" rel="noreferrer noopener">
          {{ .Title }}
        </a>
      </h3>
      <div class="summary">
        {{ .Summary }}
      </div>
      <div class="content">
        {{ .Content }}
      </div>
      <div class="post-meta">
        <span class="lastmod">
          {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006年1月2号") }}
        </span>

        {{ with .Params.categories }}
        <span id="categories">
          {{ range . }}
            <a href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
        {{ end }}

      </div>
      <button class="readmore" onclick="readmore(this)" value="readmore">
        阅读更多
      </button>
    </div>
  </section>
{{end}}

{{end}}